\.idea/
.idea/
transactions.csv
data/
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
checkpoint
*.meta
*.index
*.ckpt.data*
*.tsv
*.pbtxt
*.csv
*.h5
*.txt
*.rar
model\.h5
*.py___jb_tmp___
.pytest_cache/
TEMP/*

